<!DOCTYPE html>
<html lang="en">

    <%- include("../partials/head.ejs") %>
<body>
    <h1>Welcome to your profile!</h1>
    <div>
        <a href="/profile/new"><button id="add-btn">Just say you want to update your profile</button></a>
    </div>
</body>
</html>