<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="profile-body">

    
      <div class="form-container">
          <form action="/tattooly" method="post">
            <h1 class="new-h1">Update Profile</h1>
            <div class="input-box">
              <input type="text" name="username" placeholder="profile stuff"/>
             
            </div>
            <div class="input-box">
              <input type="text" name="userTag" placeholder="Whats your handle G?"/>
          
            </div>
            <!-- <div class="input-box">
                <input type="text" name="profilePhoto" placeholder="what do you look like fr?"/>
            
              </div> -->
            <input type="submit" value="Update" class="profile-update-btn"/>
          </form>
      </div>
  
  </body>
</html>