<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<!-- THIS IS ESSENTIALLY THE PAGE TO ENTICE PEOPLE TO USE/SIGN UP-->
  <body class="home-body">
    <div class="home-container">

      <pre class="language-javascript" tabindex="0" style="position: relative;"><code class="language-css"><span class="token selector">.Welcome</span> <span class="token punctuation">{</span>
  <span class="token property">to-Tattooly</span><span class="token punctuation">:</span> the one<span class="token punctuation">;</span>
  <span class="token property">stop-shop</span><span class="token punctuation">:</span> for all<span class="token punctuation">;</span>
  <span class="token property">your-tattoo</span><span class="token punctuation">:</span> planning needs<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
      
      </code><div class="open_grepper_editor" title="Edit &amp; Save To Grepper"></div></pre>
      
      </code><div class="open_grepper_editor" title="Edit &amp; Save To Grepper"></div></pre>

      <div>
        <a href="/user/signup"><button>Signup</button></a>
        <a href="/user/login"><button>Login</button></a>
      </div>
    </div>
  </body>
</html>

