<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
<!-- THIS IS ESSENTIALLY THE PAGE TO ENTICE PEOPLE TO USE/SIGN UP-->
  <body class="home-body">
    <div class="home-container">

      <pre contenteditable class="language-javascript" tabindex="0" style="position: relative;"><code class="language-css"><span class="token selector">.Welcome</span> <span class="token punctuation">{</span>
  <span class="token property">to-Tattooly</span><span class="token punctuation">:</span> the one<span class="token punctuation">;</span>
  <span class="token property">stop-shop</span><span class="token punctuation">:</span> for all<span class="token punctuation">;</span>
  <span class="token property">your-tattoo</span><span class="token punctuation">:</span> planning needs<span class="token punctuation">;</span>
<span class="token punctuation">}</span>
      
      </code><div class="open_grepper_editor" title="Edit &amp; Save To Grepper"></div></pre>
      
      </code><div class="open_grepper_editor" title="Edit &amp; Save To Grepper"></div></pre>
<script>
  const pre = document.querySelector("pre");

  document.addEventListener("mousemove", (e) => {
    rotateElement(e, pre)
  })

  function rotateElement(event, element) {
    // get mouse position
    const x = event.clientX;
    const y = event.clientY
    // console.log(x, y)

    // find the center - cuts window in half on both axis giving us the middle/center
    const middleX = window.innerWidth / 2;
    const middleY = window.innerHeight / 2;

    // how far away our mouse is from the middle (OFFSET ... MIGOS)
    const offsetX = ((x - middleX) / middleX) * 45 // to be able to get it as a percentage essentially from 0 - 1 then limiting to a certain deg (45)
    const offsetY = ((y - middleY) / middleY) * 45
    console.log(offsetX, offsetY)

    element.style.setProperty("--rotateX", -1 * offsetY + "deg") // axis' in CSS rotate around as if axis were a pole - a bit strange/confusing -1 * makes number opposite of what it actually is. -1 inverts direction to move more intuitively to mouse
    element.style.setProperty("--rotateY", offsetX + "deg")
  }
</script>
      <div class="home-btns">
        <a href="/user/signup"><input type="submit" id="home-signup-btn" value="Sign Up"></a>
        <a href="/user/login"><input type="submit" id="home-login-btn" value="Login"></a>
      </div>
    </div>
  </body>
</html>

