<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="user-body">

    
      <div class="form-container">
        <form action="/user/<%= user._id %>?_method=PUT" method="post">
            <h1 class="new-h1">Edit Calendar</h1>
           
            <div class="input-box">
              <input type="date" name="appointment" placeholder="Next Appt Date"/>
            </div>
           
            <input type="submit" value="Update" class="profile-update-btn"/>

            <button type="button" onclick="the_thing.close();" value="Update Calendar" class="update-calendar-btn">Back</button>
          </form>
      </div>
  
  </body>
</html>