<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="login-body">
  
      <div class="login-container">
        <form action="/user/login" method="post">
            <h1 class="login-h1">User Login</h1>
              <div class="login-input">
                <input type="text" name="username" required placeholder="Username" />
              </div>
              <div class="login-input">
                <input type="password" name="password" required placeholder="Password"/>
              </div>
              
            <input type="submit" value="Login" class="login-btn"/>
        </form>
      </div>
    
  </body>
</html>