<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="signup-body">

      <div class="signup-container">
        <form action="/user/signup" method="post">
            <h1 class="signup-h1">Sign Up</h1>
              <div class="signup-input">
                <input type="text" name="username" required placeholder="Username"/>
              </div>
              <div class="signup-input">
                <input type="password" name="password" required placeholder="Password"/>
              </div>
              <!-- <div class="signup-input">
                <input type="text" name="displayName" required placeholder="@Name"/>
              </div>
              <div class="signup-input">
                <input type="text" name="profilePicture" required placeholder="What do you look like?"/>
              </div> -->
            <input type="submit" value="Create Account" class="signup-btn" />
              <div>
                **WARNING** : If you thought getting a tattoo was a commitment think again. Once you create an account, you will not be able to edit your Username... So choose wisely, its only forever :)
              </div>
        </form>
      </div>

  </body>
</html>