@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}


:root {
    --clr-1: #020202;
    --clr-2: #0d2818;
    --clr-3: #04471c;
    --clr-4: #058c42;
    --clr-5: #16db65;

    --login-1: #FFBE0B;
    --login-2: #FB5607;
    --login-3: #FF006E;
    --login-4: #8338EC;
    --login-5: #3A86FF;

    --textcolor-1: hsl(338, 70%, 55%);
    --textcolor-2: hsl(183, 70%, 62%);
    --textcolor-3: hsl(334, 7%, 95%);

    --fontcolor-white: #f4f7f5;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/** INDEX */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    color: #f4f7f5;
    background-color: #08090a;
}

/* "profile profile budget budget calendar calendar add-post add-post"
"profile profile budget budget calendar calendar add-post add-post"
"profile profile posts posts posts posts posts posts"
"profile profile posts posts posts posts posts posts"
"profile profile posts posts posts posts posts posts"
"profile profile posts posts posts posts posts posts"
"profile profile posts posts posts posts posts posts"
"profile profile posts posts posts posts posts posts"; */

#container {
    display: grid;
    grid-template-areas: 
        "aside aside header header header header header header"
        "aside aside header header header header header header"
        "aside aside section section section section section section"
        "aside aside section section section section section section"
        "aside aside section section section section section section"
        "aside aside section section section section section section"
        "aside aside section section section section section section";
    height: 100vh;
}

header {
    grid-area: header;
    /* background-color: #f5ebe0; */
    background-color: #08090a;
    box-shadow: 2px 2px 2px 1px #575a5e66; 
    color: var(--fontcolor-white);
} 


/* header::before,
header::after {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); 
    z-index: 2;
} */

section {
    grid-area: section;
    /* background-color: #f5ebe0; */
    background-color: #08090a;
}

aside {
    grid-area: aside;
    /* background-color: #d6ccc2; */
    /* background-color: #a7a2a9; */
    background-color: #08090a;
    border-right: 1px solid #575a5e6a;

}

#add-btn{
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    background: linear-gradient(45deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
    padding: .7em;
    border: none;
    border-radius: 6px;
    color: var(--fontcolor-white);
    cursor: grab;
    animation: color 13s ease-in-out infinite;
    font-weight: 500;
    font-size: 1.25rem;
    transform: scale(1);
    background-size: 300% 300%;
}


/* .update-budget-btn {
    background: linear-gradient(45deg, #FF006E, #8338EC, #3A86FF);
    border: none;
    border-radius: 6px;
    padding: 4px;
    color: var(--fontcolor-white);
} */

#budget-dollars, #appt-day {
    color: var(--clr-5);
}
@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

#add-btn:hover, .update-budget-btn:hover, .signup-btn:hover, .login-btn:hover {
    /* background: linear-gradient(180deg, blue, red); */
    transform: scale(1.1);

}

a {
    text-decoration: none;
    color: var(--fontcolor-white);
}

#the_thing, #the_thing2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    border-radius: 10px;
    background-color: var(--login-1);
    /* display: flex;
    justify-content: center;
    align-items: center; */
}


#the_thing::backdrop, #the_thing2::backdrop {
    background: transparent;
    backdrop-filter: blur(4px);
   
}
.index-description, .index-date{
    width: 100%;
    font-size: 10pt;
    text-decoration: none;
}
.art-container {
    padding: 20px;
    columns: 4;
    column-gap: 20px;
}

.art-container .index-bento {
    width: 100%;
    margin-bottom: 10px;
    break-inside: avoid;
}

.art-container .index-bento img{
    max-width: 100%;
    border-radius: 15px;
}


/** MOBILE */



@media (max-width: 1200px) {
    .art-container {
        /* width: calc(100% - 40px); */
        columns: 3;

    }
    header {
        display: block;
        font-size: 14px;
    }
    aside {
        columns: 1;
    }
    
}


@media (max-width: 900px) {
    .art-container {
        columns: 2;

    }
    /* aside { */
        /* max-width: 20%; */
       /* display: none; */
        /* display: flex; */
        /* align-items: flex-end; */
        /* flex-direction: column; */
        /* justify-content: flex-end; */
        
    /* } */
    aside {
        height: 10dvh;
    }

    .home-container {
        margin-top: 200px;
        width: 95%;
        /* justify-content: center; */

    }

    .home-container > pre {
        font-size: 20px;
    }


    .profile, .profile-menu, .app-name {
            display: flex;
            /* width: 100px; */
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1px;
            /* background-color: cadetblue; */
            /* position the menu off screen */
            position: fixed;
            top: 25px;
            left: -400px;
            /* transition to animate entrance */
            transition: left .4s;
            border-radius: 10px;
            font-size: 20px;
    }

    #menu {
        flex-direction:row;
        position: unset;
        width: 10%;
        justify-content: space-around;
        margin: auto;
    }


    #the_thing, #the_thing2 {
        /* position: relative; */
        /* top: 50%;
        left: 50%; */
        /* transform: translate(-50%, -50%); */
        /* padding: 30px; */
        border-radius: 10px;
        background-color: var(--login-1);
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

 


    .app-name {
        display: none;
    }
 
    header {
        display: block;
        font-size: 8px;
    }
    #add-btn {
        display: flex;
        justify-content: end;
        margin-top: 1rem;
        background: linear-gradient(45deg, #FFBE0B, #FB5607, #FF006E, #8338EC, #3A86FF);
        padding: .7em;
        border: none;
        border-radius: 6px;
        color: var(--fontcolor-white);
        cursor: grab;
        animation: color 13s ease-in-out infinite;
        font-weight: 500;
        font-size: 10px;
        transform: scale(1);
        background-size: 300% 300%;
    }

    .hamburger-line {
        width: 100%;
        /* border: 2px solid var(--fontcolor-white); */
        margin: 0px;
        /* margin-left: -10px; */
        height: 6dvh;
        background-color: var(--clr-1);
        border-top: 1px solid #ffffff2b;
        color: var(--fontcolor-white);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
     
    }


    /* .hamburger-line > span {
        padding-right: 52px;
    } */
    /* #home-icon {
        padding-left: 7px;
    } */
}

@media(min-width: 900px){

    #hamburger {
        display: none;
    }

   
}


/** MOBILE */

#hamburger-toggle {
    display: none;
}


#hamburger {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 2px;
}

#hamburger:hover {
    background-color: var(--login-3);
    cursor: pointer;
}

#hamburger:has(#hamburger-toggle:checked) .profile-menu{
    left: 0;
}





.logo{
   /* mix-blend-mode: color-burn; */
   
   /* opacity: 0.7; */
   /* height: 10rem;
   width: 15rem; */
   margin: auto;
   margin-bottom: 4rem;
   font-family: 'UnifrakturMaguntia', cursive;                                     
   font-size: 50px;
}

.app-name {
    /* background-color: #f0f0f0; */
    display: flex;
    padding: 20px;
    text-align: left;
}

.profile {
    display: flex;
    justify-content: space-around;
    padding: 0 80px 0 80px;
}

.profile-photo {
    text-align: center;
}

.profile-photo img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profile-photo p {
    margin-top: 10px;
}


#username {
    font-size: 30px;
    font-weight: 900;
    color: var(--fontcolor-white)
}
#displayName {
    color: var(--fontcolor-white);
    opacity: 0.4;
}

.profile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    justify-content: space-evenly;
    height: 60dvh;
    background-color: #08090a;
}

.profile-artists {
    text-align: center;
    color: var(--fontcolor-white);
}
.calendar-btn, .budget-btn, #settings-btn, #logout-btn, .profile-artists {
    background-color: #08090a;
    border: none;
    border-radius: 6px;
    padding: 15px;
    width: 100%;
    color: var(--fontcolor-white);
    text-align: center;

}

#logout-btn {
    margin-top: 190px;
}

.calendar-btn:hover, .budget-btn:hover, #settings-btn:hover, #logout-btn:hover, .profile-artists:hover, #logout-btn:hover  {
    color: var(--login-3);
    transform: scale(1.3);
    text-decoration:underline;
}

.budget-cal-add {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    padding: 20px;
}

#budget {
    /* border: solid green 3px; */
    display: flex;
    flex-direction: column;
}

/** New ROUTE */

.new-body {
    display: flex;
    /* margin-left: 30%; */
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* background-color: #e3d5ca; */
    background-color: #08090a;
    background-image: url("https://png.pngtree.com/png-vector/20190929/ourmid/pngtree-add-icon-isolated-on-abstract-background-png-image_1752337.jpg");
    background-repeat: none;
    /* background-size: cover; */
    background-position: center;
}

.form-container, .edit-container{
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    /* margin-top: 30%; */
}

.form-container .new-h1, .edit-container .edit-h1 {
    font-size: 36px;
    text-align: center;
}

.form-container .input-box, .edit-container .edit-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input, .edit-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px
}

.input-box input::placeholder, .edit-input input::placeholder {
    color:#fff
}

.form-container .create-btn, .edit-container .edit-btn, .user-update-btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
}

.create-btn:hover, .edit-btn:hover, .user-update-btn:hover {
    transform: scale(1.1);
    cursor: pointer;
}


/**SHOW PAGE */
#show-body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    
}


.show-container {
    padding: 20px;
    /* columns: 3; */
    /* column-gap: 20px; */
    background-color: #222823;
    /* background-color: #d5bdaf; */
    background-image: url("https://www.shutterstock.com/image-photo/three-mockup-white-blank-museum-600nw-2018518967.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    /* position: absolute; */
    width: 100%;
    height: 100dvh;
    /* object-fit: cover;
    object-position: 50% 50%; */
}

.show-container .show-frame{
    width: 100%;
    /* margin-bottom: 10px; */
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tattoo-description {
    text-wrap: wrap;
    width: 50%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.show-container .show-frame img {
    max-width: 50%;
    border-radius: 15px;
    height: 30dvh;
 
}

#show-edit-btn, #delete-btn, #back-btn, .calendar-modal-btn, .calendar-back-btn, .update-budget-btn, .profile-update-btn {
  align-items: center;
  background-color: var(--fontcolor-white);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,var(--fontcolor-white) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--clr-1);
  cursor: pointer;
  display: inline-flex;
  font-family: 'Montserrat', sans-serif;
  height: 36px;
  justify-content: center;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  transition: box-shadow .15s,transform .15s;
  font-size: 18px;
}

#show-edit-btn:focus, #delete-btn:focus, #back-btn:focus, .calendar-modal-btn:focus, .calendar-back-btn:focus, .update-budget-btn:focus, .profile-update-btn:focus  {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

#show-edit-btn:hover, #delete-btn:hover, #back-btn:hover, .calendar-modal-btn:hover, .calendar-back-btn:hover, .update-budget-btn:hover, .profile-update-btn:hover  {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

#show-edit-btn:active, #delete-btn:active, #back-btn:active, .calendar-modal-btn:active, .calendar-back-btn:active, .update-budget-btn:active, .profile-update-btn:active  {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.edit-and-delete {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%
}


/**EDIT PAGE */

.edit-body {
    display: flex;
    /* margin-left: 30%; */
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: var(--clr-1);
    background-image: url("https://www.ed.ac.uk/sites/default/files/styles/panel_breakpoints_theme_uoe_mobile_1x/public/thumbnails/image/edit-900x400_0.jpg?itok=3k2bZKDK");
    background-repeat: none;
    /* background-size: cover; */
    background-position: center;

}

/** SIGNUP PAGE*/

.signup-body, .login-body {
    display: flex;
    /* margin-left: 30%; */
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* background-color: #e3d5ca; */
    background-color: #08090a;
    /* background-image: url("https://png.pngtree.com/png-vector/20190929/ourmid/pngtree-add-icon-isolated-on-abstract-background-png-image_1752337.jpg"); */
    background-repeat: none;
    /* background-size: cover; */
    background-position: center;
}


.signup-container, .login-container {
    width: 420px;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    /* backdrop-filter: blur(20px); */
    background-color: #08090a;
    position: relative;
}

.signup-container::before, .signup-container::after {
    content:"";
    position: absolute;
    inset: -.5rem;
    background-color: #08090a;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--clr-2),
        var(--clr-3),
        var(--clr-5),
        var(--clr-3),
        var(--clr-2));
        animation: rotation 12s linear infinite;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.signup-container::after {
    filter: blur(3.5rem);
}

.signup-container .signup-h1 {
    font-size: 36px;
    text-align: center;
}

.signup-container .signup-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.signup-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px
}

.signup-input input::placeholder {
    color:#fff
}

.signup-container .signup-btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
   
}

/** LOGIN PAGE */

.login-container::before, .login-container::after {
    content:"";
    position: absolute;
    inset: -.5rem;
    background-color: #08090a;
    border-radius: inherit;
    z-index: -1;
    background: conic-gradient(
        from var(--gradient-angle),
        var(--login-2),
        var(--login-3),
        var(--login-5),
        var(--login-3),
        var(--login-2));
        animation: rotation 12s linear infinite;
}

@keyframes rotation {
    0% { --gradient-angle: 0deg; }
    100% { --gradient-angle: 360deg; }
}

.login-container::after {
    filter: blur(3.5rem);
}

.login-container .login-h1 {
    font-size: 36px;
    text-align: center;
}

.login-container .login-input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.login-input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px
}

.login-input input::placeholder {
    color:#fff
}

.login-container .login-btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    margin-bottom: 20px;
   
}

/** HOME PAGE */

.home-body {
    border: 0;
    margin: 0;
    padding: 0;
    
    color: var(--fontcolor-white);
    background: #08090a;
    background-image: conic-gradient(
        from 0deg at 50% 50%,
        var(--login-5),
        var(--login-4),
        var(--login-4),
        var(--login-5)
    );
    background-blend-mode: multiply;
    min-block-size: 100dvh;
    display: grid;
    place-items: center;
}


pre {
    --selector: var(--textcolor-1);
    --property: var(--textcolor-2);
    --punctuation: var(--textcolor-3);

    font-size: 3rem;
    font-weight: bold;
    background: hsl(222, 45%, 7%);
    padding: 2rem;
    border-radius: 1rem;
    position: relative;

    transform-style: preserve-3d;
    transform:
    perspective(5000px)
    rotateY(var(--rotateY))
    rotateX(var(--rotateX));
}

.selector {
    color: var(--selector);
    font-family: 'Montserrat', sans-serif;
}

.property {
    color: var(--property);
    font-family: 'Montserrat', sans-serif;
}

#tattooly-home {
    font-family: 'UnifrakturMaguntia', cursive;
}

.punctuation {
    color: var(--punctuation);
    font-family: 'Montserrat', sans-serif;
}

.property + .punctuation {
    color: var(--property);
    font-family: 'Montserrat', sans-serif;
}

.home-container > span {
    font-family: 'Montserrat', sans-serif;
}

pre > * {
    text-shadow: 0 0 0.3rem currentColor;
}

pre::before, pre::after {
    content: "";
    position: absolute;
    border-radius: inherit;
}

pre::before {
    inset: 0.75rem;
    background-color: #08090a;
    transform: translateZ(-49px);
    filter: blur(15px);
    opacity: 0.5;
}

pre::after {
    inset: -1rem;
    background: linear-gradient(-45deg, var(--login-3), var(--login-5));
    transform: translateZ(-50px);
}

.home-btns {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.home-btns #home-signup-btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    /* margin-bottom: 20px; */
    padding-left: 5rem;
    padding-right: 5rem;
}


.home-btns #home-login-btn {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #333;
    font-weight: 600;
    /* margin-bottom: 20px; */
    padding-left: 5.54rem;
    padding-right: 5.54rem;
}

#home-login-btn:hover {
    color: var(--fontcolor-white);
    box-shadow: 0 0 20px var(--clr-5);
    background-color: var(--clr-5);
    cursor: pointer;
  }

  #home-signup-btn:hover {
    cursor: pointer;
  }


/** USER */
.user-body {
    display: flex;
    /* margin-left: 30%; */
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    /* background-color: #e3d5ca; */
    background-color: #08090a;
    background-image: url("https://www.itl.cat/pngfile/big/13-133030_red-skull-wallpaper-red-skull-wallpaper-hd.jpg");
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.back {
    height: 100dvh;
    width: 100%;
    position: absolute;
    padding: 16px;
}

#back-arrow {
    position: sticky;
    top: 0;
    left:2px
}

input[type=text]:focus {
    box-shadow: 0 0 10px var(--fontcolor-white);
    /* padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px; */
    border: 1px solid var(--clr-1);
  }


