<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="edit-body">


      <div class="edit-container">
        <form action="/tattooly/<%= tattoo._id %>?_method=PUT" method="post">
        
            <h1 class="edit-h1">Edit Tattoo</h1>
            
            <div class="edit-input">
              <input type="text" name="description" placeholder="Description"/>
            </div class="edit-input">
         
            <input type="submit" value="Update Tattoo" class="edit-btn" />
        </form>
      </div>

  </body>
</html>

