<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body>

    <main>
      <div>
        <form action="/tattooly/<%= tattoo._id %>?_method=PUT" method="post">
          <fieldset>
              <legend>Edit Tattoo</legend>
            <label>
              IMAGE:<input
                type="text"
                name="image"
                placeholder="photo url"
              />
            </label>
            <label>
              DESCRIPTION:<input
                type="text"
                name="description"
                placeholder="caption"
              />
            </label>
          </fieldset>
          <input type="submit" value="Update Tattoo" />
        </form>
      </div>
    </main>
  </body>
</html>