<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs") %>

  <body class="new-body">

    
      <div class="form-container">
          <form action="/tattooly" method="post">
            <h1 class="new-h1">Update Profile</h1>
            <div class="input-box">
              <input type="text" name="username" placeholder="Whats your name g?"/>
            </div>
            <input type="submit" value="Update" class="profile-update-btn"/>
          </form>
      </div>
  
  </body>
</html>